.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.errors {
  color: #c50000;
  font-size: 1.1rem;
  font-weight: 500;
}

nav a, nav button {
  margin: 0 2%;
}

.nav-btn-group {
  display: flex;
  justify-content: center;
  width: 30%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 3% 1%;
  margin: 2%;
  border-radius: 7px;
}

.login-container form {
  width: 85%;
  padding: 3%
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-repeat: none;
  opacity: 0.4;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 200;
}

.hero-section p {
  font-size: 1.7rem;
}

.hero-section span {
  font-weight: 700;
  color: #c50000;
}

h1.userS {
  font-size: 3.5rem;
  font-weight: 400;
  color: darkblue;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  width: 80%;
}

.about-section h2 {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 2%;
  padding-bottom: 1%;
  border-bottom: 3px solid #7dbaff;
}

.about-section p {
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.list-group {
  line-height: 2.5;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);;
}

.potluck-evt-container {
  padding: 4% 8%;
  border-radius: 7px;
  background-color: #fff;
  width: 60%;
  margin: 8% 0;
}

.dash-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}


.userHighlight {
  color: turquoise;
}

.loginDiff {
  color: darkcyan;
}