.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

nav a, nav button {
  margin: 0 2%;
}

.nav-btn-group {
  display: flex;
  justify-content: center;
  width: 20%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding: 3% 1%;
  margin: 2%;
  border-radius: 7px;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);;
}